.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(83, 75, 139, 0.604);
  border-radius: 10px;
  margin: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  transition: transform 0.3s;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .article-card {
    width: 100%;
  }
}
