.topics-container {
  padding: 2rem;
  text-align: center;
}

.topics-list {
  list-style: none;
  padding: 0;
}

.topics-list li {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.topics-list li a {
  text-decoration: none;
  color: #3c4fad;
  transition: color 0.3s;
}

.topics-list li a:hover {
  color: #6183e9;
}
