html {
  box-sizing: border-box;
  background-color: #a198f4;
  font-size: 16px;
  letter-spacing: 1px;
}
body {
  margin: 0;
  min-height: 100vh;
  color: rgb(154, 175, 244);
  background-color: #060c2a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  justify-content: space-around;
  color: #6183e9;
  font-size: 1.2rem;
}

nav li:hover {
  color: #cdcdcd;
  transform: scale(1.1);
}

.articles-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  background-color: rgba(83, 75, 139, 0.604);
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.articles-title {
  font-size: 2rem;
  text-align: center;
}

.article:hover {
  transform: scale(1.03);
  cursor: pointer;
  filter: drop-shadow(0 0 1em #646cffaa);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
